@using System.Diagnostics;
@using Radiobutton_Implement.Models;
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <label for="male" class="form-check-label">
        @Html.RadioButton("Gender", "Male", false, new { @class = "form-check-input", id = "male" }) Male
    </label>
</div>
<div class="form-group">
    <div for="female" class="form-check-label">
        @Html.RadioButton("Gender", "Female", true, new { @class = "form-check-input", id = "female" }) Female
    </div>
</div>
@using (@Html.BeginForm())
{
    <div class="form-group">
        @foreach (var department in Model.Departments())
        {
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButtonFor(m => m.SelectedDepartment, department.Id, new { @class = "form-check-input" })
                    @department.Name
                </label>
            </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

}
